.services {
	margin-top: 5.25rem;
	margin-bottom: 11.5625rem;
}

.services-inner {
	display: flex;
	flex-direction: column;
	// align-items: center;
	text-align: center;
}

.services-text-block {
	align-self: center;
	max-width: 842px;
}

.services-cards-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
	@media (max-width: 1200px) {
		gap: .5rem;
	}
	@media (max-width: 991px) {
		flex-wrap: wrap;
	}

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
}
