

.c-s-list {
	margin-top: 2.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.c-s-list-item {
	display: flex;
	align-items: center;
	gap: 1.6875rem;
}

.c-s-button {
	margin-top: 3.5rem;
}